<!--
TNPG: Abacus
Roster: Jason Chao and Leon Huang
SoftDev
K23 - Rest APIs
11-21-24
Time spent: 1
-->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NASA Rest API</title>
    </head>

    <body>
        <h1>TNPG: The Dynamic Duo</h1>
        <h2>Roster: Jason Chao</h2>
        <p>HD Image</p>
        <img src="{{ hd_image }}" alt="HD Image" style="width: 1200px; height: 720px">
        <p>
            Explanation
            <br>
            {{ explanation }}
        </p>
    </body>
</html>
